.env
.phpunit.result.cache
.vagrant
Homestead.json
Homestead.yaml
node_modules
npm-debug.log
public/css/*.css
public/hot
public/js/*.js
public/mix-manifest.json
public/storage
storage/*.key
user-customizations.sh
Vagrantfile
vendor
yarn-error.log
