.env
.php_cs.cache
.phpunit.result.cache
.vagrant
Homestead.json
Homestead.yaml
node_modules
npm-debug.log
public/css/*.css
public/css/*.map
public/hot
public/images
public/js/*.js
public/js/*.map
public/mix-manifest.json
public/storage
storage/*.key
tests/coverage
user-customizations.sh
Vagrantfile
vendor
yarn-error.log
*.DS_Store
